.MenuListItem {
  margin: .75rem;
  .imageContainer {
    max-height: 30vh;
    max-width: 25vw;
    background-color: var(--image-bg);
    padding: 1.5rem;
    .itemImage {
      max-height: 25vh;
      
    }
  }
}